*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.heading-primary {
  font-size: 3.2rem;
  font-weight: normal;
  color: #444;
}
.heading-secondary {
  font-size: 2.5rem;
  font-weight: normal;
  color: #444;
}
.heading-tertiary {
  font-size: 2.1rem;
  font-weight: normal;
  color: #444;
}
.heading-quaternary {
  font-size: 1.9rem;
  font-weight: normal;
  color: #444;
}
.paragraph {
  font-size: 1.6rem;
  color: #444;
  line-height: 1.4;
}
.unordered-list,
.ordered-list {
  font-size: 1.6rem;
  color: #444;
  list-style-position: inside;
}
.unordered-list li:not(:last-child),
.ordered-list li:not(:last-child) {
  margin-bottom: 0.3rem;
}
.anchor:link,
.anchor:visited {
  font-weight: 700;
  color: #1bbc9b;
  text-decoration: none;
}
.anchor:hover {
  color: #18a689;
}
.u-mb-tiny {
  margin-bottom: 0.5rem !important;
}
.u-mb-small {
  margin-bottom: 1rem !important;
}
.u-mb-medium {
  margin-bottom: 2rem !important;
}
.u-mb-large {
  margin-bottom: 3rem !important;
}
.u-text-center {
  text-align: center !important;
}
.u-highlight-good {
  color: #649c38;
}
.u-highlight-bad {
  color: #9c4438;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  height: 100%;
}
pre code.hljs::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
pre code.hljs::-webkit-scrollbar-track {
  background: #0b4d3f;
}
pre code.hljs::-webkit-scrollbar-thumb {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
pre code.hljs::-webkit-scrollbar-thumb:hover {
  background: #16987e;
}
code.hljs {
  padding: 0.3rem 0.5rem;
}
/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24
   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/
.hljs {
  background: #333;
  color: #fff;
  border-radius: 0.5rem;
}
.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  font-weight: 700;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-section,
.hljs-tag {
  color: #62c8f3;
}
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  color: #ade5fc;
}
.hljs-meta-string,
.hljs-string {
  color: #a2fca2;
}
.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  color: #7bd694;
}
.hljs-tag .hljs-attr {
  color: inherit;
}
.hljs-attribute,
.hljs-title,
.hljs-type {
  color: #ffa;
}
.hljs-number,
.hljs-symbol {
  color: #d36363;
}
.hljs-bullet,
.hljs-template-tag {
  color: #b8d8a2;
}
.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  color: #fcc28c;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #888;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-pseudo {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background: #a2fca2;
  color: #333;
}
.hljs-subst {
  color: #fff;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
.hljs mark {
  background: #555;
  color: inherit;
}
.page {
  width: 100%;
  margin: 0 auto;
  max-width: 180rem;
}
.header {
  height: 9.5rem;
  background-color: #fff;
}
.header__content {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__heading {
  flex: 1 0;
  font-size: 3rem;
  color: #444;
}
.header__navigation {
  flex: 0 0;
}
.header__navigation ul {
  list-style: none;
  display: flex;
}
.header__navigation li:not(:last-child) {
  margin-right: 1rem;
}
.header__navigation a:link,
.header__navigation a:visited {
  font-size: 1.4rem;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
}
.header__navigation a:hover {
  color: #fff;
  background-color: #1bbc9b;
}
.heading-section {
  background-image: linear-gradient(rgba(58, 56, 53, 0.3), rgba(58, 56, 53, 0.3)), url("../../media/img/CodeBackground.jpg");
  background-size: cover;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding: 3.5rem 3rem;
}
.two-sides {
  display: flex;
}
.two-sides__side {
  flex: 0 0 50%;
}
/*.navigation {
    border: .2rem solid @colors[primary];
    background-color: @colors[primary];
    // padding: 2rem;

    ul {
        list-style: none;
    }
    li {
        &:not(:last-child) {
            border-bottom: .2rem solid @colors[primary];
        }
    }
    a {
        &:link, &:visited {
            display: block;
            font-size: 1.5rem;

            color: @colors[dark-grey];
            background-color: @colors[white];
            text-decoration: none;

            padding: .5rem 1rem;
        }

        &:hover {
            color: @colors[white];
            background-color: @colors[primary];
        }
    }
}*/
.navigation ul {
  list-style: none;
}
.navigation__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: block;
  font-size: 1.6rem;
  color: #2d3e50;
  text-decoration: none;
  padding: 0.8rem 0;
  padding-right: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.2s, background-color 0.3s;
}
.navigation__link:hover,
.navigation__link--active:link,
.navigation__link--active:visited {
  background-color: #2d3e50;
  color: #fff;
  padding: 0.8rem;
}
.navigation__link span {
  font-weight: 700;
  color: #1bbc9b;
  margin-right: 1rem;
}
.horizontal-rule {
  border: none;
  height: 0.2rem;
  background-color: #1bbc9b;
}
.image {
  border: 0.2rem solid #1bbc9b;
  background-color: #1bbc9b;
  width: 100%;
}
.code-box {
  border: 0.3rem solid #1bbc9b;
  background-color: #1bbc9b;
  border-radius: 0.5rem;
  overflow: hidden;
}
.code-box__header {
  background-color: #0b4d3f;
  border-bottom: 0.3rem solid #1bbc9b;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.code-box__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.code-box__icon svg {
  width: 100%;
  height: 100%;
  fill: #97cb6f;
}
.code-box__buttons-container *:not(:last-child) {
  margin-right: 0.5rem;
}
.code-box__button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #97cb6f;
  border: 0.2rem solid #c0dfa7;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;
}
.code-box__button:hover {
  background-color: #84c255;
}
.code-box__button:active {
  background-color: #6fae3f;
}
.code-box__button svg {
  width: 90%;
  height: 90%;
  fill: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code-box__button--reset {
  background-color: #cbb26f;
  border-color: #dfd0a7;
}
.code-box__button--reset:hover {
  background-color: #c2a455;
}
.code-box__button--reset:active {
  background-color: #ae903f;
}
.code-box__button--reset svg {
  width: 80%;
  height: 80%;
}
.code-box__button--move {
  background-color: #c5cb6f;
  border-color: #dcdfa7;
}
.code-box__button--move:hover {
  background-color: #bac255;
}
.code-box__button--move:active {
  background-color: #a7ae3f;
}
.code-box__speed-input {
  vertical-align: bottom;
  height: 2.5rem;
  color: #444;
  background-color: #e8f4df;
  border: 0.2rem solid #c0dfa7;
  border-radius: 0.2rem;
}
.code-box__speed-input:focus {
  outline: none;
  border-color: #97cb6f;
}
.code-box__code {
  font-size: 1.6rem;
  position: relative;
}
.code-box__code--max-height {
  max-height: 40rem;
  overflow: auto;
  background-color: #333;
}
.code-box__code--max-height::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.code-box__code--max-height::-webkit-scrollbar-track {
  background: #0b4d3f;
}
.code-box__code--max-height::-webkit-scrollbar-thumb {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
.code-box__code--max-height::-webkit-scrollbar-thumb:hover {
  background: #16987e;
}
.code-box__code--max-height::-webkit-scrollbar-corner {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
.code-box__code--max-height code {
  overflow: visible !important;
}
.code-box__code--max-height-bigger {
  max-height: 55rem;
}
.code-box__container {
  display: flex;
  align-items: stretch;
}
.code-box__container > div:first-child {
  overflow: hidden;
  flex: 1;
}
.code-box__container > div:first-child pre {
  height: 100% !important;
}
.code-box__call-stack {
  flex: 0 0 12rem;
  border-left: 0.3rem solid #1bbc9b;
  background-color: #0b4d3f;
  border-radius: 0.5rem;
  padding: 0.3rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.code-box__array {
  background-color: #0e6351;
  border-top: 0.3rem solid #1bbc9b;
  text-align: center;
  padding: 0.5rem;
}
.code-box__linked-list {
  background-color: #0e6351;
  border-top: 0.3rem solid #1bbc9b;
  padding: 0.5rem;
  min-height: 5rem;
}
.code-box__tree {
  background-color: #0e6351;
  border-top: 0.3rem solid #1bbc9b;
  padding: 1rem;
  min-height: 18rem;
}
.code-box__tree--additional-space-for-variable {
  min-height: 20rem;
}
.code-box__tree--additional-space-for-variable-and-pointer {
  min-height: 21rem;
}
.code-box__tree--smaller-height {
  min-height: 14rem;
}
.code-box__tree--smaller-height-with-additional-space-for-pointer {
  min-height: 16rem;
}
.code-box__graph {
  background-color: #0e6351;
  border-top: 0.3rem solid #1bbc9b;
  padding: 1rem;
}
.code-box__graph--bigger-top-padding {
  padding-top: 2rem;
}
.code-box__dijkstras-algorithm-explanation {
  background-color: #0e6351;
  border-top: 0.3rem solid #1bbc9b;
  padding: 1rem;
}
.code-box__console {
  font-size: 1.6rem;
  background-color: #0b4d3f;
  border-top: 0.3rem solid #1bbc9b;
  color: #fff;
  padding: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
}
.code-box__console::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.code-box__console::-webkit-scrollbar-track {
  background: #0b4d3f;
}
.code-box__console::-webkit-scrollbar-thumb {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
.code-box__console::-webkit-scrollbar-thumb:hover {
  background: #16987e;
}
.line-highlight {
  width: 100%;
  height: 1.84rem;
  background-image: linear-gradient(rgba(27, 188, 155, 0.5), rgba(27, 188, 155, 0.1), rgba(27, 188, 155, 0.5));
  position: absolute;
  left: 0;
  top: 0;
}
.call-stack-box {
  font-size: 1.6rem;
  background-color: #cbb26f;
  color: #444;
  border-radius: 0.3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  padding-left: 1.5rem;
  user-select: none;
  position: relative;
}
.call-stack-box:not(:last-child) {
  margin-top: 0.3rem;
}
.call-stack-box__icon {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  fill: #1bbc9b;
  stroke: #444;
  stroke-width: 0.2rem;
}
.array {
  display: inline-block;
  font-size: 1.5rem;
  user-select: none;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.array--bigger-top-padding {
  padding-top: 4rem;
}
.array--no-top-padding {
  padding-top: 0;
}
.array--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.array__label {
  position: absolute;
  left: 0;
  top: 2rem;
  transform: translateY(-100%);
  font-size: 1rem;
  color: #444;
  background-color: #cbb26f;
  border-radius: 0.3rem;
  border: 0.1rem solid #dfd0a7;
  border-bottom: none;
  padding: 0 0.3rem;
}
.array__bracket {
  display: inline-block;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #dfd0a7;
  padding: 0.2rem 0.3rem;
  width: 2.4rem;
}
.array__bracket--first {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-right-width: 0.1rem;
}
.array__bracket--last {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-left-width: 0.1rem;
}
.array__item {
  display: inline-block;
  color: #444;
  background-color: #97cb6f;
  border: 0.2rem solid #c0dfa7;
  border-right-width: 0.1rem;
  border-left-width: 0.1rem;
  padding: 0.2rem 0.3rem;
  width: 2.4rem;
}
.array__item--yellow {
  background-color: #c5cb6f;
}
.array__item--red {
  background-color: #cb7a6f;
}
.array__item--blue {
  background-color: #6f94cb;
}
.array__item-container {
  display: inline-block;
}
.array__range-pointer {
  position: absolute;
  bottom: 1rem;
  left: 2.4rem;
  width: 2.4rem;
  height: 1rem;
  border: 0.2rem solid #c5cb6f;
  border-top: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.array__range-label {
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  color: #dcdfa7;
}
.array__range-label--left {
  left: 0;
  transform: translateY(100%) translateX(-50%);
}
.array__range-label--right {
  right: 0;
  transform: translateY(100%) translateX(50%);
}
.array__pointer {
  position: absolute;
  top: 1rem;
  left: 2.4rem;
  width: 0.2rem;
  height: 1rem;
  background-color: #c5cb6f;
}
.array__pointer--bottom {
  top: unset !important;
  bottom: 1rem;
}
.array--bigger-top-padding .array__pointer {
  top: 3rem;
}
.array__pointer-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%) translateX(-50%);
  font-size: 0.9rem;
  color: #dcdfa7;
}
.array__pointer-label--bigger {
  font-size: 1.1rem;
}
.array__pointer--bottom .array__pointer-label {
  top: unset;
  bottom: 0;
  transform: translateY(100%) translateX(-50%);
}
.array__variables {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.array__variable {
  display: inline-block;
  font-size: 1.1rem;
  color: #dcdfa7;
}
.array__variable:not(:last-child) {
  margin-right: 1rem;
}
.array-container {
  text-align: center;
}
.variables {
  text-align: center;
}
.variables__var {
  display: inline-block;
  font-size: 1.1rem;
  color: #dcdfa7;
}
.variables__var:not(:last-child) {
  margin-right: 1rem;
}
.linked-list {
  width: fit-content;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.linked-list--bigger-bottom-padding {
  padding-bottom: 2rem;
}
.node {
  display: inline-block;
  background-color: #cbb26f;
  border: 0.2rem solid #dfd0a7;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: relative;
}
.node:not(:last-child) {
  margin-right: 1.5rem;
}
.node::before,
.node::after {
  position: absolute;
  left: -0.5rem;
  top: -1.3rem;
  font-size: 1.2rem;
  padding: 0 0.2rem;
  background-color: #7cbd4a;
  border: 0.2rem solid #a5d282;
  border-radius: 0.3rem;
  color: #fff;
}
.node--head::before {
  content: "head";
}
.node--tail::after {
  content: "tail";
}
.node--first::before {
  content: "first";
}
.node--last::after {
  content: "last";
}
.node--tail-right::after {
  left: unset;
  right: -0.5rem;
}
.node__property {
  font-size: 1.6rem;
  color: #444;
  position: relative;
}
.node__property-name--left-padding {
  padding-left: 1.5rem;
}
.node__property-value {
  font-weight: 700;
}
.node__property-value--number {
  color: #aa4646;
}
.node__property-value--boolean {
  color: #4d46aa;
}
.node__property-value--string {
  color: #317428;
}
.node__dot {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.2rem solid #e6e6e6;
  background-color: #cb7a6f;
}
.node__dot--left {
  right: unset;
  left: 0;
}
.node__arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) rotate(-20deg);
  transform-origin: left;
  width: 3rem;
  width: 0rem;
  height: 0.15rem;
  background-color: #e6e6e6;
  opacity: 0;
  transition: opacity 0.2s, width 0.5s;
}
.node__arrow--visible {
  opacity: 1;
  width: 3rem;
}
.node__arrow--to-left {
  transform: translateY(-50%) rotate(20deg) scaleX(-1);
}
.node__arrow--no-rotation {
  transform: translateY(-50%);
}
.node__arrow--no-rotation-left {
  transform: translateY(-50%) scaleX(-1);
}
.node__arrow::before,
.node__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: right;
  width: 1rem;
  height: 0.15rem;
  background-color: #fff;
}
.node__arrow::before {
  transform: rotate(30deg) translateY(-50%);
}
.node__arrow::after {
  transform: rotate(-30deg) translateY(-50%);
}
.node__pointer {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0.2rem;
  height: 1rem;
  background-color: #c5cb6f;
}
.node__pointer--right {
  left: 90%;
}
.node__pointer--left {
  left: 10%;
}
.node__pointer-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #dcdfa7;
}
.tree__node {
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
}
.tree__node--root {
  position: relative;
  margin: 0 auto;
  transform: none;
  width: 3rem;
}
.tree__node-circle {
  font-size: 1.7rem;
  width: 3rem;
  height: 3rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.tree__node-circle--green {
  background-color: #97cb6f;
  border-color: #dbedcd;
}
.tree__node-circle--yellow {
  background-color: #c5cb6f;
  border-color: #ebedcd;
}
.tree__node-circle--red {
  background-color: #cb7a6f;
  border-color: #edd1cd;
}
.tree__node-circle--blue {
  background-color: #6f94cb;
  border-color: #cddaed;
}
.tree__node-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tree__node-priority {
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #444;
  background-color: #97cb6f;
  border: 0.2rem solid #dbedcd;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.tree__node-priority span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tree__node-pointer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.2rem;
  height: 1rem;
  background-color: #c5cb6f;
}
.tree__node-pointer-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #dcdfa7;
}
.tree__left-child::before,
.tree__right-child::before {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #ede4cd;
  position: absolute;
  bottom: 100%;
}
.tree__left-child {
  right: 50%;
  transform: translateX(-3rem) translateY(1rem);
}
.tree__left-child::before {
  left: 100%;
  transform-origin: left;
  transform: rotate(-45deg) translateX(-0.6rem);
}
.tree__left-child--double-space {
  transform: translateX(-6rem) translateY(1rem);
}
.tree__left-child--double-space::before {
  transform: rotate(-25deg) translateX(-0.6rem) translateY(0.6rem) scaleX(1.85);
}
.tree__left-child--triple-space {
  transform: translateX(-14rem) translateY(1rem);
}
.tree__left-child--triple-space::before {
  transform: rotate(-12.5deg) translateX(-0.6rem) translateY(0.6rem) scaleX(4.4);
}
.tree__right-child {
  left: 50%;
  transform: translateX(3rem) translateY(1rem);
}
.tree__right-child::before {
  right: 100%;
  transform-origin: right;
  transform: rotate(45deg) translateX(0.6rem);
}
.tree__right-child--double-space {
  transform: translateX(6rem) translateY(1rem);
}
.tree__right-child--double-space::before {
  transform: rotate(25deg) translateX(0.6rem) translateY(0.6rem) scaleX(1.85);
}
.tree__right-child--triple-space {
  transform: translateX(14rem) translateY(1rem);
}
.tree__right-child--triple-space::before {
  transform: rotate(12.5deg) translateX(0.6rem) translateY(0.6rem) scaleX(4.4);
}
.graph {
  position: relative;
  width: 43rem;
  height: 15rem;
  margin: 0 auto;
}
.graph__vertex {
  font-size: 1.7rem;
  width: 3rem;
  height: 3rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.graph__vertex span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.graph__vertex--visited {
  background-color: #cb7a6f;
}
.graph__vertex--active {
  outline: 0.3rem solid #6fae3f;
  outline-offset: -0.1rem;
}
.graph__vertex-pointer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.2rem;
  height: 1rem;
  background-color: #c5cb6f;
}
.graph__vertex-pointer--up {
  top: unset;
  bottom: 100%;
}
.graph__vertex-pointer-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #dcdfa7;
}
.graph__vertex-pointer--up .graph__vertex-pointer-label {
  top: unset;
  bottom: 100%;
}
.graph__edge {
  height: 0.2rem;
  background-color: #ede4cd;
  position: absolute;
  transform-origin: left;
  z-index: 3;
}
.graph__edge--directed::before,
.graph__edge--directed::after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform-origin: right;
  width: 1.3rem;
  height: 0.2rem;
  background-color: #ede4cd;
  border-radius: 0.1rem;
}
.graph__edge--directed::before {
  transform: translateY(-50%) rotate(-45deg);
}
.graph__edge--directed::after {
  transform: translateY(-50%) rotate(45deg);
}
.graph__edge--inverted::before,
.graph__edge--inverted::after {
  right: unset;
  left: 1.5rem;
  transform-origin: left;
}
.graph__edge-weight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #d9c694;
}
.graph__edge-weight--inverted {
  transform: translate(-50%, -100%) rotate(180deg);
}
.matrix {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.6rem;
  color: #444;
  background-color: #e8f8f5;
}
.matrix td,
.matrix th {
  border: 0.2rem solid #0e6351;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
}
.matrix th {
  background-color: #d1f2eb;
}
.dijkstra-explanation {
  max-width: 43rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
}
.dijkstra-explanation--no-padding {
  padding-top: 0;
}
.dijkstra-explanation__description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #ede4cd;
  width: 100%;
}
.dijkstra-explanation__message {
  font-size: 1.6rem;
  padding: 0.3rem 0.5rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  border-radius: 0.4rem;
}
.dijkstra-explanation__bottom-part {
  margin-top: 1rem;
  display: flex;
}
.dijkstra-explanation__bottom-part--no-margin {
  margin-top: 0;
}
.dijkstra-explanation__bottom-part-side {
  flex: 0 0 50%;
}
.dijkstra-explanation__bottom-part-side:first-child {
  padding-right: 0.5rem;
}
.dijkstra-explanation__bottom-part-side:last-child {
  padding-left: 0.5rem;
}
.dijkstra-explanation__shortest-path-table {
  border-collapse: collapse;
  border-radius: 0.4rem;
  overflow: hidden;
  width: 100%;
}
.dijkstra-explanation__shortest-path-table tr {
  position: relative;
}
.dijkstra-explanation__shortest-path-table td,
.dijkstra-explanation__shortest-path-table th {
  font-size: 1.3rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  padding: 0.1rem 0.3rem;
  text-align: center;
}
.dijkstra-explanation__shortest-path-table th {
  background-color: #b7a064;
}
.dijkstra-explanation__active-table-row {
  outline: 0.4rem solid #6fae3f;
  outline-offset: -0.3rem;
}
.dijkstra-explanation__row-checkmark {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}
.dijkstra-explanation__row-checkmark svg {
  width: 100%;
  height: 100%;
  fill: #cb7a6f;
}
.dijkstra-explanation__distance-value {
  position: relative;
  display: inline-block;
}
.dijkstra-explanation__distance-value--crossed-out::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  height: 90%;
  width: 0.2rem;
  background-color: #ae4c3f;
}
.dijkstra-explanation__visited-vertices {
  font-size: 1.3rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.dijkstra-explanation__visited-vertices-header {
  font-weight: bold;
  text-align: center;
  background-color: #b7a064;
  padding: 0.1rem 0.3rem;
}
.dijkstra-explanation__visited-vertices-container {
  border-top: 0.2rem solid #ede4cd;
  padding: 0.1rem 0.3rem;
}
.dijkstra-explanation__previous-vertices {
  font-size: 1.3rem;
  color: #444;
  background-color: #cbb26f;
  border: 0.2rem solid #ede4cd;
  border-radius: 0.2rem;
  overflow: hidden;
}
.dijkstra-explanation__previous-vertices-header {
  font-weight: bold;
  text-align: center;
  background-color: #b7a064;
  padding: 0.1rem 0.3rem;
}
.dijkstra-explanation__previous-vertices-container {
  border-top: 0.2rem solid #ede4cd;
  padding: 0.1rem 0.3rem;
  line-height: 1.1;
  padding: 0.5rem;
}
.article-page__content {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 5rem 0;
  display: flex;
}
.article-page__main-side {
  flex: 1;
  overflow: hidden;
}
.article-page__lateral-side {
  flex: 0 0 40rem;
  padding-left: 5rem;
}
