*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.heading-primary {
  font-size: 3.2rem;
  font-weight: normal;
  color: #444;
}
.heading-secondary {
  font-size: 2.5rem;
  font-weight: normal;
  color: #444;
}
.heading-tertiary {
  font-size: 2.1rem;
  font-weight: normal;
  color: #444;
}
.paragraph {
  font-size: 1.6rem;
  color: #444;
  line-height: 1.4;
}
.unordered-list,
.ordered-list {
  font-size: 1.6rem;
  color: #444;
  list-style-position: inside;
}
.unordered-list li:not(:last-child),
.ordered-list li:not(:last-child) {
  margin-bottom: 0.3rem;
}
.u-mb-tiny {
  margin-bottom: 0.5rem !important;
}
.u-mb-small {
  margin-bottom: 1rem !important;
}
.u-mb-medium {
  margin-bottom: 2rem !important;
}
.u-mb-large {
  margin-bottom: 3rem !important;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  height: 100%;
}
pre code.hljs::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
pre code.hljs::-webkit-scrollbar-track {
  background: #0b4d3f;
}
pre code.hljs::-webkit-scrollbar-thumb {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
pre code.hljs::-webkit-scrollbar-thumb:hover {
  background: #16987e;
}
code.hljs {
  padding: 0.3rem 0.5rem;
}
/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24
   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/
.hljs {
  background: #333;
  color: #fff;
  border-radius: 0.5rem;
}
.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  font-weight: 700;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-section,
.hljs-tag {
  color: #62c8f3;
}
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  color: #ade5fc;
}
.hljs-meta-string,
.hljs-string {
  color: #a2fca2;
}
.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  color: #7bd694;
}
.hljs-tag .hljs-attr {
  color: inherit;
}
.hljs-attribute,
.hljs-title,
.hljs-type {
  color: #ffa;
}
.hljs-number,
.hljs-symbol {
  color: #d36363;
}
.hljs-bullet,
.hljs-template-tag {
  color: #b8d8a2;
}
.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  color: #fcc28c;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #888;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-pseudo {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background: #a2fca2;
  color: #333;
}
.hljs-subst {
  color: #fff;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
.hljs mark {
  background: #555;
  color: inherit;
}
.page {
  width: 100%;
  margin: 0 auto;
  max-width: 180rem;
}
.header {
  height: 9.5rem;
  background-color: #fff;
}
.header__content {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__heading {
  flex: 1 0;
  font-size: 3rem;
  color: #444;
}
.header__navigation {
  flex: 0 0;
}
.header__navigation ul {
  list-style: none;
  display: flex;
}
.header__navigation li:not(:last-child) {
  margin-right: 1rem;
}
.header__navigation a:link,
.header__navigation a:visited {
  font-size: 1.4rem;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
}
.header__navigation a:hover {
  color: #fff;
  background-color: #1bbc9b;
}
.heading-section {
  background-image: linear-gradient(rgba(58, 56, 53, 0.3), rgba(58, 56, 53, 0.3)), url("../../media/img/CodeBackground.jpg");
  background-size: cover;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding: 3.5rem 3rem;
}
.navigation {
  border: 0.2rem solid #1bbc9b;
  background-color: #1bbc9b;
}
.navigation ul {
  list-style: none;
}
.navigation li:not(:last-child) {
  border-bottom: 0.2rem solid #1bbc9b;
}
.navigation a:link,
.navigation a:visited {
  display: block;
  font-size: 1.5rem;
  color: #444;
  background-color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navigation a:hover {
  color: #fff;
  background-color: #1bbc9b;
}
.horizontal-rule {
  border: none;
  height: 0.2rem;
  background-color: #1bbc9b;
}
.image {
  border: 0.2rem solid #1bbc9b;
  background-color: #1bbc9b;
  width: 100%;
}
.code-box {
  border: 0.3rem solid #1bbc9b;
  background-color: #1bbc9b;
  border-radius: 0.5rem;
  overflow: hidden;
}
.code-box__header {
  background-color: #0b4d3f;
  border-bottom: 0.3rem solid #1bbc9b;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.code-box__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.code-box__icon svg {
  width: 100%;
  height: 100%;
  fill: #97cb6f;
}
.code-box__buttons-container *:not(:last-child) {
  margin-right: 0.5rem;
}
.code-box__button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #97cb6f;
  border: 0.2rem solid #c0dfa7;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;
}
.code-box__button:hover {
  background-color: #84c255;
}
.code-box__button:active {
  background-color: #6fae3f;
}
.code-box__button svg {
  width: 90%;
  height: 90%;
  fill: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code-box__button--reset {
  background-color: #cbb26f;
  border-color: #dfd0a7;
}
.code-box__button--reset:hover {
  background-color: #c2a455;
}
.code-box__button--reset:active {
  background-color: #ae903f;
}
.code-box__button--reset svg {
  width: 80%;
  height: 80%;
}
.code-box__button--move {
  background-color: #c5cb6f;
  border-color: #dcdfa7;
}
.code-box__button--move:hover {
  background-color: #bac255;
}
.code-box__button--move:active {
  background-color: #a7ae3f;
}
.code-box__speed-input {
  vertical-align: bottom;
  height: 2.5rem;
  color: #444;
  background-color: #e8f4df;
  border: 0.2rem solid #c0dfa7;
  border-radius: 0.2rem;
}
.code-box__speed-input:focus {
  outline: none;
  border-color: #97cb6f;
}
.code-box__code {
  font-size: 1.6rem;
  position: relative;
}
.code-box__container {
  display: flex;
  align-items: stretch;
}
.code-box__container > div:first-child {
  overflow: hidden;
  flex: 1;
}
.code-box__container > div:first-child pre {
  height: 100% !important;
}
.code-box__call-stack {
  flex: 0 0 12rem;
  border-left: 0.3rem solid #1bbc9b;
  background-color: #0b4d3f;
  border-radius: 0.5rem;
  padding: 0.3rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.code-box__console {
  font-size: 1.6rem;
  background-color: #0b4d3f;
  border-top: 0.3rem solid #1bbc9b;
  color: #fff;
  padding: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
}
.code-box__console::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.code-box__console::-webkit-scrollbar-track {
  background: #0b4d3f;
}
.code-box__console::-webkit-scrollbar-thumb {
  background: #18a689;
  border-radius: 1px;
  border: 2px solid #2ae0bb;
}
.code-box__console::-webkit-scrollbar-thumb:hover {
  background: #16987e;
}
.line-highlight {
  width: 100%;
  height: 1.84rem;
  background-image: linear-gradient(rgba(27, 188, 155, 0.5), rgba(27, 188, 155, 0.1), rgba(27, 188, 155, 0.5));
  position: absolute;
  left: 0;
  top: 0;
}
.call-stack-box {
  font-size: 1.6rem;
  background-color: #cbb26f;
  color: #444;
  border-radius: 0.3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  padding-left: 1.5rem;
  user-select: none;
  position: relative;
}
.call-stack-box:not(:last-child) {
  margin-top: 0.3rem;
}
.call-stack-box__icon {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  fill: #1bbc9b;
  stroke: #444;
  stroke-width: 0.2rem;
}
.article-page__content {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 5rem 0;
  display: flex;
}
.article-page__main-side {
  flex: 1;
  overflow: hidden;
}
.article-page__lateral-side {
  flex: 0 0 40rem;
  padding-left: 5rem;
}
