.code-box {
    border: .3rem solid @colors[primary];
    background-color: @colors[primary];
    border-radius: .5rem;
    overflow: hidden;

    &__header {
        background-color: darken(@colors[primary], 25%);
        border-bottom: .3rem solid @colors[primary];

        padding: .5rem;

        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;

        svg {
            width: 100%;
            height: 100%;
            fill: @colors[light-green];
        }
    }

    &__buttons-container {
        *:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__button {
        width: 2.5rem;
        height: 2.5rem;
        
        background-color: @colors[light-green];
        border: .2rem solid lighten(@colors[light-green], 15%);
        border-radius: .2rem;

        cursor: pointer;

        position: relative;

        &:hover {
            background-color: darken(@colors[light-green], 7%);
        }

        &:active {
            background-color: darken(@colors[light-green], 15%);
        }

        svg {
            width: 90%;
            height: 90%;
            fill: @colors[dark-grey];

            #center-pos-abs();
        }

        &--reset {
            background-color: @colors[light-orange];
            border-color: lighten(@colors[light-orange], 15%);

            &:hover {
                background-color: darken(@colors[light-orange], 7%);
            }

            &:active {
                background-color: darken(@colors[light-orange], 15%);
            }

            svg {
                width: 80%;
                height: 80%;
            }
        }

        &--move {
            background-color: @colors[light-yellow];
            border-color: lighten(@colors[light-yellow], 15%);

            &:hover {
                background-color: darken(@colors[light-yellow], 7%);
            }

            &:active {
                background-color: darken(@colors[light-yellow], 15%);
            }
        }
    }

    &__speed-input {
        vertical-align: bottom;
        height: 2.5rem;

        color: @colors[dark-grey];
        background-color: lighten(@colors[light-green], 30%);
        border: .2rem solid lighten(@colors[light-green], 15%);
        border-radius: .2rem;

        &:focus {
            outline: none;
            border-color: @colors[light-green];
        }
    }

    &__code {
        font-size: 1.6rem;
        position: relative;

        &--max-height {
            max-height: 40rem;
            overflow: auto;

            background-color: #333;

            // width
            &::-webkit-scrollbar {
                width: 1.3rem;
                height: 1.3rem;
            }

            // track
            &::-webkit-scrollbar-track {
                background: darken(@colors[primary], 25%);
            }

            // handle
            &::-webkit-scrollbar-thumb {
                background: darken(@colors[primary], 5%);
                border-radius: 1px;
                border: 2px solid lighten(@colors[primary], 10%);

                &:hover {
                    background: darken(@colors[primary], 8%);
                }
            }

            // corner
            &::-webkit-scrollbar-corner {
                background: darken(@colors[primary], 5%);
                border-radius: 1px;
                border: 2px solid lighten(@colors[primary], 10%);
            }


            code {
                overflow: visible !important;
            }

        }

        &--max-height-bigger {
            max-height: 55rem;
        }
    }

    &__container {
        display: flex;
        align-items: stretch;

        > div:first-child {
            overflow: hidden;
            flex: 1;
            
            pre {
                height: 100% !important;
            }
        }
    }

    &__call-stack {
        flex: 0 0 12rem;

        border-left: .3rem solid @colors[primary];
        background-color: darken(@colors[primary], 25%);
        border-radius: .5rem;

        padding: .3rem;

        overflow-x: hidden;

        display: flex;
        flex-direction: column-reverse;
    }

    &__array {
        background-color: darken(@colors[primary], 20%);
        border-top: .3rem solid @colors[primary];

        text-align: center;
        padding: .5rem;
    }

    &__linked-list {
        background-color: darken(@colors[primary], 20%);
        border-top: .3rem solid @colors[primary];

        padding: .5rem;

        min-height: 5rem;
    }

    &__tree {
        background-color: darken(@colors[primary], 20%);
        border-top: .3rem solid @colors[primary];

        padding: 1rem;

        min-height: 18rem;

        &--additional-space-for-variable {
            min-height: 20rem;
        }
        &--additional-space-for-variable-and-pointer {
            min-height: 21rem;
        }

        &--smaller-height {
            min-height: 14rem;
        }
        &--smaller-height-with-additional-space-for-pointer {
            min-height: 16rem;
        }
    }

    &__graph {
        background-color: darken(@colors[primary], 20%);
        border-top: .3rem solid @colors[primary];

        padding: 1rem;

        &--bigger-top-padding {
            padding-top: 2rem;
        }
    }

    &__dijkstras-algorithm-explanation {
        background-color: darken(@colors[primary], 20%);
        border-top: .3rem solid @colors[primary];

        padding: 1rem;
    }

    &__console {
        font-size: 1.6rem;
        background-color: darken(@colors[primary], 25%);
        border-top: .3rem solid @colors[primary];

        color: @colors[white];
        padding: .5rem;

        overflow-x: auto;
        white-space: nowrap;

        // width
        &::-webkit-scrollbar {
            width: 1.3rem;
            height: 1.3rem;
        }

        // track
        &::-webkit-scrollbar-track {
            background: darken(@colors[primary], 25%);
        }

        // handle
        &::-webkit-scrollbar-thumb {
            background: darken(@colors[primary], 5%);
            border-radius: 1px;
            border: 2px solid lighten(@colors[primary], 10%);

            &:hover {
                background: darken(@colors[primary], 8%);
            }
        }
    }
}