/*.navigation {
    border: .2rem solid @colors[primary];
    background-color: @colors[primary];
    // padding: 2rem;

    ul {
        list-style: none;
    }
    li {
        &:not(:last-child) {
            border-bottom: .2rem solid @colors[primary];
        }
    }
    a {
        &:link, &:visited {
            display: block;
            font-size: 1.5rem;

            color: @colors[dark-grey];
            background-color: @colors[white];
            text-decoration: none;

            padding: .5rem 1rem;
        }

        &:hover {
            color: @colors[white];
            background-color: @colors[primary];
        }
    }
}*/

.navigation {

    ul {
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__link {
        &:link, &:visited {
            display: block;

            font-size: 1.6rem;

            color: @colors[dark];
            text-decoration: none;

            padding: .5rem .8rem;

            border: .2rem solid darken(@colors[white], 10%);
            border-radius: .5rem;

            transition: all .2s;

            background-color: darken(@colors[white], 6%);
        }

        &:hover, &--active:link, &--active:visited {
            background-color: @colors[dark];
            border-color: lighten(@colors[dark], 4%);
            color: @colors[white];
        }

        span {
            font-weight: 700;
            
            color: @colors[primary];
            
            margin-right: 1rem;
        }
    }
}